

a,
li,
button {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
	
}

i {
	color: #fff;
	cursor: pointer;

}

.nav_links li {
	display: inline-block;
	padding: 0px 20px; /*0 top 20 left right*/
}
.nav_links li a {
	transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
	color: #0088a9; /*bluish*/
}
button {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

div
{
	border:1px solid;
	color:#fff;
}


.desc {
	padding:16px;
}


section
{
	display:grid;
}
p
{
	color:#fff;
}

.carousel-img{
	height: 20%;
}
